In [1]:
from splinter import Browser
from bs4 import BeautifulSoup
from urllib.parse import urljoin
import pymongo
import requests
import pandas as pd
from sqlalchemy import create_engine
import time
from pprint import pprint

In [2]:
browser = Browser('chrome' , headless=True)
url = 'http://quotes.toscrape.com/'

In [3]:
def get_author(url):
    result = {}
    response = requests.get(url)
    soup =  BeautifulSoup(response.text, 'lxml')    
    result['born'] = soup.find('span' , class_ = 'author-born-date').text.strip()
    result['name'] = soup.h3.text.strip()
    result['description'] = soup.find('div' , class_="author-description").text.strip()
    return result

In [4]:
def get_tags_for_quote(quote_soup):
    tags = []
    for tag in quote_soup.find_all('a' , class_='tag'):
        tags.append(tag.text)
    return tags

In [5]:
def get_quote(quote_soup):
    quote = {}
    quote['text'] = quote_soup.span.text
    quote['author'] = quote_soup.find('small' , class_='author').text
    href = quote_soup.a['href']
    author_url = urljoin( url ,  href)
    # for this quote get the author details now
    quote['author'] = get_author(author_url)    
    quote['tags'] = get_tags_for_quote(quote_soup)
    return quote

In [6]:
def get_quotes_on_a_page(page_number):
    result = []
    html = browser.html    
    soup = BeautifulSoup(html, 'lxml')
    quotes = soup.find_all('div', class_='quote')
    number_of_quotes_per_page = 10
    quote_id = (page_number -1)  * number_of_quotes_per_page 
    for quote in quotes:
        quote_id = quote_id + 1
        quote_info = get_quote(quote)
        quote_info['_id'] = quote_id 
        result.append(quote_info)
    return result

In [7]:
def scrape_all_quotes(url):
    more_quotes = True
    first_iterations = True
    page_number = 0
    quotes = []
    while more_quotes:  
        page_number += 1        
        print(f'Now scraping page : {page_number }')
        if first_iterations:
            browser.visit(url)
            first_iterations = False
        else:
            pass        
        quotes_on_this_page = get_quotes_on_a_page(page_number)
        quotes = quotes + quotes_on_this_page
        try:
            next = browser.links.find_by_partial_text('Next')
            print('about to click on the next link')
            if(next.is_empty()):
                more_quotes = False
            else:
                next.click()
                time.sleep(2)
        except Exception as ex:
            print("Scraping Complete")
            print(ex.message)
            more_quotes = False
    return quotes

In [8]:
def save_quotes(quotes):
    conn = 'mongodb://localhost:27017'
    client = pymongo.MongoClient(conn)
    db = client.quotes
    collection = db.quotes
    collection.insert_many(quotes)

In [9]:
quotes = scrape_all_quotes(url)

Now scraping page : 1
about to click on the next link
Now scraping page : 2
about to click on the next link
Now scraping page : 3
about to click on the next link
Now scraping page : 4
about to click on the next link
Now scraping page : 5
about to click on the next link
Now scraping page : 6
about to click on the next link
Now scraping page : 7
about to click on the next link
Now scraping page : 8
about to click on the next link
Now scraping page : 9
about to click on the next link
Now scraping page : 10
about to click on the next link

In [10]:
browser.quit()

In [11]:
def get_quotes_from_mongo():
    conn = 'mongodb://localhost:27017'
    client = pymongo.MongoClient(conn)
    db = client.quotes
    collection = db.quotes
    return collection

In [12]:
docs = get_quotes_from_mongo()
get_quotes = docs.count_documents({})
print(get_quotes)

100

In [13]:
# author_bio = []
# for doc in docs.find({}):
#     author_bio.append({
#         "Author Name": doc["author"]["name"],
#         "DOB":  doc["author"]["born"],
#         "Author Bio":  doc["author"]["description"],
#     })
# author_df = pd.DataFrame(author_bio)
# author_df

In [14]:
# author_quote = []
# # for doc in docs.find({}):
# #     author_quote.append({
# #         "Author Name": doc["author"]["name"],
# #         "Author Quote":  doc["author"]["_id"],
# #     })
# # quote_df = pd.DataFrame(author_quote)
# # quote_df

# for doc in docs.find({}):
# #         print(f"normalizing the quote : [{doc['_id']}]")
#     #quote = {}
#     quote['id'] = doc['_id']
#     quote['text'] = doc['text']
#     quote['author_name'] = doc['author']['name']
# quote_df = pd.DataFrame(author_quote)
# print(quote_df)

In [15]:
# quotes_from_db = []
# for doc in docs.find({}):
#     quotes_from_db.append({
#         "author_name": doc["author"]["name"],
#         "author_dob":  doc["author"]["born"],
#         "author_desc":  doc["author"]["description"].strip(),
#     })
# author_df = pd.DataFrame(quotes_from_db)
# author_df

In [16]:
def normalize_quotes_data(docs):
    quotes_table = []
    authors = []
    authors_table = []
    tags_table = []
    for doc in docs.find({}):
#         print(f"normalizing the quote : [{doc['_id']}]")
        quote = {}
        quote['id'] = doc['_id']
        quote['text'] = doc['text']
        quote['author_name'] = doc['author']['name']
        quotes_table.append(quote)

        author = {}
        author['name'] = doc['author']['name']
        author['born'] =  doc['author']['born']
        author['description'] = doc['author']['description']
        if (author['name'] not in authors):
            authors_table.append(author)
            authors.append(author['name'])

        for tag in doc['tags']:
            tags_table.append({'quote_id':doc['_id'] , 'tag' : tag})    
            
    return (quotes_table , authors_table ,tags_table)

In [17]:
docs = get_quotes_from_mongo()
print(f' found {docs.count_documents({})} documents')

 found 100 documents

In [18]:
(quotes , authors ,tags) = normalize_quotes_data(docs)
quotes_df = pd.DataFrame(quotes )
author_df = pd.DataFrame( authors )
tags_df = pd.DataFrame(tags)

In [28]:
quotes_df

     id                                               text         author_name
0     1  “The world as we have created it is a process ...     Albert Einstein
1     2  “It is our choices, Harry, that show what we t...        J.K. Rowling
2     3  “There are only two ways to live your life. On...     Albert Einstein
3     4  “The person, be it gentleman or lady, who has ...         Jane Austen
4     5  “Imperfection is beauty, madness is genius and...      Marilyn Monroe
..  ...                                                ...                 ...
95   96  “You never really understand a person until yo...          Harper Lee
96   97  “You have to write the book that wants to be w...   Madeleine L'Engle
97   98  “Never tell the truth to people who are not wo...          Mark Twain
98   99        “A person's a person, no matter how small.”           Dr. Seuss
99  100  “... a mind needs books as a sword needs a whe...  George R.R. Martin

[100 rows x 3 columns]

In [29]:
author_df

,name,born,description
0,Albert Einstein,"March 14, 1879","In 1879, Albert Einstein was born in Ulm, Germ..."
1,J.K. Rowling,"July 31, 1965",See also: Robert GalbraithAlthough she writes ...
2,Jane Austen,"December 16, 1775",Jane Austen was an English novelist whose work...
3,Marilyn Monroe,"June 01, 1926",Marilyn Monroe (born Norma Jeane Mortenson; Ju...
4,André Gide,"November 22, 1869",André Paul Guillaume Gide was a French author ...
5,Thomas A. Edison,"February 11, 1847","Thomas Alva Edison was an American inventor, s..."
6,Eleanor Roosevelt,"October 11, 1884",Anna Eleanor Roosevelt was an American politic...
7,Steve Martin,"August 14, 1945","Stephen Glenn ""Steve"" Martin is an American ac..."
8,Bob Marley,"February 06, 1945","Robert ""Bob"" Nesta Marley OM was a Jamaican si..."
9,Dr. Seuss,"March 02, 1904",Theodor Seuss Geisel was born 2 March 1904 in ...
10,Douglas Adams,"March 11, 1952","Douglas Noël Adams was an English author, comi..."
11,Elie Wiesel,"September 30, 1928",Eliezer Wiesel was a Romania-born American nov...
12,Friedrich Nietzsche,"October 15, 1844",Friedrich Wilhelm Nietzsche (1844–1900) is a G...
13,Mark Twain,"November 30, 1835","Samuel Langhorne Clemens, better known by his ..."
14,Allen Saunders,"April 24, 1899","Allen Saunders was an American writer, journal..."
15,Pablo Neruda,"July 12, 1904","Pablo Neruda was the pen name and, later, lega..."
16,Ralph Waldo Emerson,"May 25, 1803","in 1803, Ralph Waldo Emerson was born in Bosto..."
17,Mother Teresa,"August 26, 1910","Blessed Teresa of Calcutta, or Mother Teresa, ..."
18,Garrison Keillor,"August 07, 1942",Garrison Keillor (born Gary Edward Keillor on ...
19,Jim Henson,"September 24, 1936","James Maury ""Jim"" Henson was the most widely k..."
20,Charles M. Schulz,"November 26, 1922",Charles Monroe Schulz was an American cartooni...
21,William Nicholson,"January 12, 1948",Librarian Note: There is more than one author ...
22,Jorge Luis Borges,"August 24, 1899",Jorge Francisco Isidoro Luis Borges Acevedo (S...
23,George Eliot,"November 22, 1819","In 1819, novelist George Eliot (nee Mary Ann E..."
24,George R.R. Martin,"September 20, 1948","George R. R. Martin was born September 20, 194..."
25,C.S. Lewis,"November 29, 1898",CLIVE STAPLES LEWIS (1898–1963) was one of the...
26,Martin Luther King Jr.,"January 15, 1929","Martin Luther King, Jr. was one of the pivotal..."
27,James Baldwin,"August 02, 1924",Librarian Note: There is more than one author ...
28,Haruki Murakami,"January 12, 1949",Haruki Murakami (Japanese: 村上 春樹) is a popular...
29,Alexandre Dumas-fils,"July 27, 1824","Alexandre Dumas (son) was born in Paris, Franc..."
30,Stephenie Meyer,"December 24, 1973","I was born in Connecticut in 1973, during a br..."
31,Ernest Hemingway,"July 21, 1899",Ernest Miller Hemingway was an American author...
32,Helen Keller,"June 27, 1880",Helen Keller would not be bound by conditions....
33,George Bernard Shaw,"July 26, 1856","George Bernard Shaw was an Irish playwright, s..."
34,Charles Bukowski,"August 16, 1920",Henry Charles Bukowski (born as Heinrich Karl ...
35,Suzanne Collins,"August 11, 1962",Librarian Note: There is more than one author ...
36,J.R.R. Tolkien,"January 03, 1892","John Ronald Reuel Tolkien, CBE, was an English..."
37,Alfred Tennyson,"August 06, 1809","Alfred Tennyson was born in Somersby, Lincolns..."
38,Terry Pratchett,"April 28, 1948",Sir Terry Pratchett sold his first story when ...
39,J.D. Salinger,"January 01, 1919","Jerome David Salinger was an American author, ..."
40,George Carlin,"May 12, 1937",George Denis Patrick Carlin was a Grammy-winni...
41,John Lennon,"October 09, 1940","John Winston Ono Lennon, MBE, was an English s..."
42,W.C. Fields,"January 29, 1880",W. C. Fields was born William Claude Dukenfiel...
43,Ayn Rand,"February 02, 1905",Alisa Rosenbaum was born in pre-revolutionary ...
44,Jimi Hendrix,"November 27, 1942","Jimi Hendrix was an American guitarist, singer..."
45,J.M. Barrie,"May 09, 1860","Sir James Matthew Barrie, 1st Baronet, OM (9 M..."
46,E.E. Cummings,"October 14, 1894","Edward Estlin Cummings was born in Cambridge, ..."
47,Khaled Hosseini,"March 04, 1965","Hosseini was born in Kabul, Afghanistan, in 19..."
48,Harper Lee,"April 28, 1926","Harper Lee, known as Nelle, was born in the Al..."
49,Madeleine L'Engle,"November 29, 1918",Madeleine L'Engle was an American writer best ...

In [30]:
tags_df

     quote_id            tag
0           1         change
1           1  deep-thoughts
2           1       thinking
3           1          world
4           2      abilities
..        ...            ...
227        97        writing
228        98          truth
229        99  inspirational
230       100          books
231       100           mind

[232 rows x 2 columns]

In [31]:
user_name = 'iljeyeekqbmawa'
password = '14a1e06b7556d81e7154a5983966a4bf2e2c1139cd0a30beb10a12e17b1868c9'
connection_string = f"{user_name}:{password}@ec2-52-22-238-188.compute-1.amazonaws.com:5432/dd6g3lf7c51860"
engine = create_engine(f'''postgres://iljeyeekqbmawa:14a1e06b7556d81e7154a5983966a4bf2e2c1139cd0a30beb10a12e17b1868c9@ec2-52-22-238-188.compute-1.amazonaws.com:5432/dd6g3lf7c51860
''')

In [32]:
quotes_script = '''
    create table quotes(     id INTEGER PRIMARY KEY,    
    author_name varchar(32),    
    text varchar(1500))
'''

tags_script = '''
    create table tags(    quote_id INTEGER,    
    tag varchar(32))
'''

author_script = '''
    create table author( name varchar(32) PRIMARY KEY,    
    born varchar(32),    
    description varchar(10000))
'''

In [33]:
tables = {'quotes' : quotes_script.strip(), 
          'tags' : tags_script.strip(),
          'author' : author_script.strip()
         }

In [34]:
for table in tables.keys():
    print(f'dropping the table {table} if it already exists...')
    engine.execute(f'drop table IF EXISTS {table}')

dropping the table quotes if it already exists...
dropping the table tags if it already exists...
dropping the table author if it already exists...

In [35]:
for table , script in tables.items():
    print(f'creating the table {table}...')
    engine.execute(f'{script}')

creating the table quotes...
creating the table tags...
creating the table author...

In [36]:
 engine.table_names()

['quotes', 'tags', 'author']

In [37]:
quotes_df.to_sql(name='quotes', con=engine, if_exists='append', index=False)

In [38]:
tags_df.to_sql(name='tags', con=engine, if_exists='append', index=False)

In [39]:
author_df.to_sql(name='author', con=engine, if_exists='append', index=False)